<strong>Olá, {{ name }}</strong>
<p>Houve uma solicitação de recuperação de senha, confira abaixo:</p>
<p>
  <strong>Senha: {{ password }}</strong>
  <br /><br /><small>Se não foi você, mude sua senha!</small>
</p>
