<strong>Olá, {{ name }}</strong>
<p>Houve uma solicação de recuperação de senha na sua conta:</p>
<p>
  <strong>Senha: </strong> {{password}} <br />
  <br />
  <small>
    Se quiser mudar de senha, faça o login e vá no seu perfil.
  </small>
</p>
